.cabeçalho{background-color:#0b455c; color: white; display: flex; justify-content: space-around;}   
.imagem-logo{width: 80px;}
.cabeçalho-lista{display: inline-block;margin:0 16px;}
.site{background-color: rgb(87, 121, 161); color :rgb(22, 19, 22);}